body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    justify-content: center;
}

hr {
    width: 50%;
    background-color: white;
}

#addTask {
    border-radius: 100px;
    background: #46a3dd;
    box-shadow: -29px -29px 24px #204963, 29px 29px 24px #6dfdff;
}

#taskLeft {
    position: relative;
    padding-top: 2px;
}

.to-do-amount {
    position: relative;
    top: 5px;
}

#li-text {
    display: block;
    font-size: 18px;
    word-wrap: break-word;
}

#taskButton {
    font-size: 17px;
    position: relative;
    left: 18px;
    margin: 3px;
    background-color: red;
}

#taskButton:hover {
    color: white;
    opacity: 3;
    border-radius: 20px;
}

input[type=checkbox] {
    width: 21px;
    height: 39px;
    position: relative;
    right: 8px;
}

#toDoList {
    border-radius: 0px;
    background: #c2d9a0;
    box-shadow: 27px 27px 20px #505942, -27px -27px 20px #fffffe;
}

.todo-filter-wrapper {
    color: white;
    height: 62px;
    border-radius: 55px;
    background: #478fd1;
    box-shadow: 20px 20px 21px #1c3954, -20px -20px 21px #72e5ff;
}

#all,
#active,
#completed {
    color: white;
}