body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x:  hidden;
    justify-content: center;
}

hr {
    width: 50%;
}

 #addTask {
    border-radius: 100px;
    background: #46a3dd;
    box-shadow:  -29px -29px 24px #204963,
                 29px 29px 24px #6dfdff;
} 

 li {   
    border-radius: 0px;
background: #c2d9a0;
box-shadow:  27px 27px 20px #505942,
             -27px -27px 20px #fffffe;
      
}

#toDoList {
    height: 300px;
}

#toDoList {
    list-style: none;
}


.li-text {
    display: block;
    font-size: larger;
    word-wrap: break-word;
}

#taskButton {
    font-size: 12px;
   
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    position: relative;
    right: 17px;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

  html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }